################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kobzev_Busin/222_Kobzev_Busin_PR1/.vs/222_Kobzev_Busin_PR1
/Kobzev_Busin/222_Kobzev_Busin_PR3/Fibonacci/.vs/Fibonacci
/Kobzev_Busin/222_Kobzev_Busin_PR3/.vs
/Kobzev_Busin/222_Kobzev_Busin_PR3/Fibonacci/.vs/ProjectEvaluation
/Kobzev_Busin/222_Kobzev_Busin_PR3/Galaxies/.vs/Galaxies
