################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kobzev_Busin/222_Kobzev_Busin_PR1/.vs/222_Kobzev_Busin_PR1
/Kobzev_Busin/222_Kobzev_Busin_PR3/Fibonacci/.vs/Fibonacci
/Kobzev_Busin/222_Kobzev_Busin_PR3/.vs
/Kobzev_Busin/222_Kobzev_Busin_PR3/Fibonacci/.vs/ProjectEvaluation
/Kobzev_Busin/222_Kobzev_Busin_PR3/Galaxies/.vs/Galaxies
/Kobzev_Busin/222_Kobzev_Busin_PR3/Letters/.vs/Letters
/Kobzev_Busin/222_Kobzev_Busin_PR3_Part2/OmhsLaw/.vs/OmhsLaw
/Kobzev_Busin/222_Kobzev_Busin_PR6_Bank/.vs
